<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/styles/login.css}">
<title> WebApp Mattia Bonfanti </title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
  <body>
    <div class="title">
      <p>Mattia Bonfanti<p>


    </div>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" th:action="@{/index}" method="post">
          <input type="text" placeholder="username" name="username"/>
          <input type="password" placeholder="password" name="password"/>
          <button>login</button>
          <p class="message">user="admin" password="admin"</p>
        </form>
      </div>
    </div>
</body>
</body>
</html>